// footer at bottom with flexbox

#__next {
  display: flex;
  flex: auto;
  flex-direction: column;
  min-height: 100vh;
  align-self: stretch !important;

  .main {
    align-self: stretch !important;
    flex: auto;
  }
}

// End - footer at bottom with flexbox

.icon {
  display: inline-block;
  font-size: inherit;
  height: 1em;
  vertical-align: -0.125em;
}

.circle {
  position: absolute;
  width: 40vw;
  height: 40vw;

  background: rgba($bright-green, 0.2);
  filter: blur(240px);

  z-index: -1;

  &.top {
    left: calc(50% - 40vw / 2);
    top: -20vw;
  }
  &.bottom {
    left: calc(50% - 40vw / 2);
    bottom: -32vw;
  }
}

.ball {
  position: absolute;
  width: 42vw;
  height: 42vw;
  right: -20vw;
  top: -20vw;
  filter: drop-shadow(-27.0095px 4.00141px 51.0179px rgba(0, 0, 0, 0.25));

  z-index: -1;

  @include media-breakpoint-up(lg) {
    width: 16vw;
    height: 16vw;
    left: calc(50% - 16vw / 2);
    top: -6vw;
  }
}

.card-stats {
  overflow: hidden;
  position: relative;
  height: 14rem;

  @include media-breakpoint-up(lg) {
    height: 20rem;
  }

  .bg-blur {
    position: absolute;
    width: 18rem;
    height: 18rem;
    left: -9rem;
    top: -9rem;
    z-index: -1;
    filter: blur(64px);

    background: radial-gradient(
      50% 50% at 50% 50%,
      $bright-green 0%,
      rgba($bright-green, 0.6) 40%,
      rgba($bright-green, 0) 100%
    );
  }

  .icon {
    position: absolute;
    right: -30px;
    bottom: -30px;
    width: 8.25rem;
    height: 8.25rem;
  }
}


#__next {
  @extend .position-relative;
  @extend .overflow-hidden;
}