html,
body {
  -webkit-font-smoothing: antialiased !important;
  font-smoothing: antialiased !important;
  text-rendering: optimizeLegibility;
  font-display: swap;

  @include transition(all ease-in-out 0.2s);
}

::selection {
  background: $primary;
  color: $forest-green;
}